<br>
<br>
<h1>Share-needs</h1>
<div class="top_container">

  <div class="comment">
    <p>このサイトは会社内の活動の情報を共有するサイトです。</p>
    <p>各部署での情報を確認でき、自社の商品でのあらゆるニーズを</p>
    <p>把握することを目的としています。</p>
  </div>
  <h2><%= link_to 'ログイン' , new_employee_session_path , id: "login" %></h2>
<br>
  <td><button type="button" class="btn btn-info" ><%= link_to 'アカウント新規登録', new_employee_registration_path, id: "login_new" %></button></td>
<br>
<br>
<br>
    <ul class="guest_login">
      <li><%= link_to 'ゲスト一般者ログイン' , employees_guest_sign_in_path, method: :post , id: "employee_login"%></li>
      <li><%= link_to 'ゲスト管理者ログイン' , employees_admin_guest_sign_in_path , method: :post , id: "admin_login"%></li>
    </ul>
</div>
